.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.ionicBar{
  --background:#319a35;
  color: whitesmoke;
}
.mt{
    margin-top: 18px;
}
.mt-2{
    margin-top: 10px;
}
.card{
    border: 1px solid #319a35;
}
.failed{
    border: 1px solid #b00000;
}
.ml-0{
    margin-left: 0;
}
.mr-0{
    margin-right: 0;
}
.btnSubmit{
    --background: #319a35;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
